body {
    margin: 0;
    height:750px;
    width:100%;
    overflow: scroll;
    font-size: 12px;
    font-family: "JetBrains Mono";
    background-color: "red";
}
.intro{
    position: absolute;
    top: 13%;
    background-color: #ffab8e;
    text-align: center;
    border: 3px dotted red;
    margin-left: 15%;
    width:70%;

    font-size: 16px;
    font-family: "JetBrains Mono";
}

.header {
    position: sticky;
    position: -webkit-sticky;
    background-color: #ffffff;
    color: purple;

    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    border-bottom: 3px solid purple;
}

#navbar {
    overflow: hidden;
    background-color: white;
    bottom: 0;
}

#navbar a {
    float: right;
    display: block;

    color: #f2f2f2;
    text-align: center;
    padding: 20px 10px 3% 5px;

    text-decoration: none;
    font-size: 17px;
    background-color: white;
    border-left: black 2px solid;
    
    background-color:#ffffff;
    color: purple;
}

#navbar a:hover {
    background-color: #E8F7EE;
    color: black;
}




.content {
    margin: 5%;
    alignment: center;
    border: 2px double #3C362A;
    position: absolute;
    top: 15%;
    border-radius: 0;
    height: 70%;
    width: 90%;
}

.section{
    margin: 5%;
    alignment: center;
    border: 2px double #3C362A;
    position: absolute;
    top: 0;
    padding-left: 1%;
    border-radius: 0;
    height: 35%;
    width: 42.5%;
}
.section2{
    margin: 5%;
    alignment: center;
    border: 2px double #3C362A;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 1%;
    border-radius: 0;
    height: 35%;
    width: 42.5%;
}
.section3{
    margin: 5%;
    alignment: center;
    border: 2px double #3C362A;
    position: absolute;
    bottom:0;
    left:0 ;
    padding-left: 1%;
    border-radius: 0;
    height: 35%;
    width: 42.5%;
}
.section4{
    margin: 5%;
    alignment: center;
    border: 2px double #3C362A;
    position: absolute;
    bottom:0;
    right:0 ;
    padding-left: 1%;
    border-radius: 0;
    height: 35%;
    width: 42.5%;
}

h1{
    float: left;
    margin: auto;
    padding-top:1%;
    padding-bottom: 1%;
    font-size: 30px;
}
i{
    font: 20px solid;
    width: 20%;
    padding-top: 5px;
    padding-left: 40%;
}

footer {
    height: 35vh;
    top:90vh;
    text-align: left;
    position: relative;
    width: 98.7vw;
    background-color: #686868;
    padding: 2vh 2vw;
    display: flex;
    flex: 2;
    flex-direction: row;
}

iframe{
    margin-right:0.2em;
}

footer h4{
    font-size: 16px ;
}
footer .contact ul li a {
    text-decoration:none ;
    color: #000;
    font-size: 14px;
}
