#navbar {
  width:100%;

  font-size: 12px;
  font-family: "JetBrains Mono";
  }
  h1{
  float: left;
  margin: auto;
  padding-top:1%;
  padding-bottom: 1%;
  font-size: 30px;
  }
  .header {
  position: sticky;
  position: -webkit-sticky;
  background-color: #663F46;
  color: white;
  float: left;
  width: 100%;
  margin: auto;
  text-align: center;

  }
  #navbar {
  overflow: hidden;
  background-color: #663F46;
  top: 0;
  }
  #navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10px 3% 5px;
  text-decoration: none;
  font-size: 17px;
  }
  #navbar a:hover {
  background-color: #E8F7EE;
  color: black;
  }
  #navbar a {
  background-color:#663F46;
  color: white;
  }