
doctype html
include layout.pug
head
  title  Admin
  meta(charset='utf-8')
  link(rel='stylesheet', href='/stylesheets/adminStyle.css')
  h2 About Us
      .cardOne
        .cardOne-block
         p The Irish Library is the name of this Library, It was founded 2 months ago in the Munster Technological University Kerry.
           The Library founded by Dylan McCarthy started off the Library with his library inventory consisting of the Happy Potter trilogy
         
         p Now The Library has started grown in every aspect, It now has 2 trilogies book series and the Children's Literature specialist in Roald Dahl book The BFG.

 