doctype html
head
  title  Admin 
  meta(charset='utf-8')
form(method='POST')
  label(for='title')  Title 
  br
  input#title(type='text' name='title')
  br
  label(for='Author')  Author 
  br
  input#author(type='text' name='author')
  br
  label(for='Genre')  Genre 
  br
  input#genre(type='text' name='genre')
  br
  label(for='Rating')  Rating 
  br
  input#rating(type='number' name='rating')
  br
  label(for='Status')  Status 
  br
  input#status(type='text' name='status')
  br
  br
  input(type='submit', value='Submit')