extends header

block content
    each book in books
        .card 
            .card-block 
                h4 
                    a(href="/book")= book.title

                p.author = book.author 
                p.genre = book.genre 
                p.rating = book.rating
                p.status = book.status
