head
  link(rel='stylesheet' type='text/css' href='/stylesheets/indexStyle.css')
.header
  h1 The Irish Library
  #navbar.sticky
    a(href='aboutus') Add Book
    a(href='books') List Books
    a(href='register') Register
    a(href='login') Login
footer
  .contact
    h4 Contacts
    ul(style='list-style-type: none')
      li
        a(href='file:///C:/Users/rusty/OneDrive/Desktop/eddcsofttools@gmail.com') Email: eddcsofttools@gmail.com
    h4 Location
    ul(style='list-style-type: none')
      li
        a Munster Technological University Kerry
      li
        a Tralee, Co.Kerry, Ireland, V93 VK5X
script.
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
  if (window.pageYOffset >= sticky) {
  navbar.classList.add("sticky")
  } else {
  navbar.classList.remove("sticky");
  }
  }
