head
  link(rel='stylesheet' type='text/css' href='/stylesheets/indexStyle.css')
.header
  h1 The Tralee Library
  #navbar.sticky
    a(href='/addbook') Add Book
    a(href='/books') List Books
    a(href='/register') Register
    a(href='/login') Login
block content

