head
  link(rel='stylesheet' type='text/css' href='/stylesheets/indexStyle.css')
.header
  h1 The Irish Library
  #navbar.sticky
    a(href='/aboutus') About Us
    a(href='/books') List Books
    a(href='/register') Register
    a(href='/login') Login
block content
block scripts
script(src='/build/runtime.318b50c57b4eba3d437b.js')
script(src='/build/polyfills.2d896654d931a4d9a559.js')
script(src='/build/main.2f69074db10c40dc4211.js')

